.show-classes-container {
    width: 80rem;
    height: 100%;
    min-height: 80vh;

    .find-content {
        margin: 1.5rem 0;
        background-color: #fff;
        border-radius: 0.8rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        button {
            width: 100%;
            height: 4rem;
            background: var(--color-secondary);
            color: var(--color-title-in-primary);
            border: 0;
            border-radius: 0.8rem;
            cursor: pointer;
            font: 700 1.6rem Archivo;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background 0.2s;
            text-decoration: none;
        }
    }

    .filter-classes-btn {
        max-width: 12rem;
        width: 100%;
        margin: 1.5rem 0;
    }

    label {
        color: var(--color-text-in-primary);
    }

    #search-teachers {
        width: 100%;
        margin: 1rem;
        display: flex;
        justify-content: center;
    }

    .select-block,
    .input-block {
        display: flex;
        flex-direction: column;
        margin: 1.5rem;
        label {
            font-size: 1.5rem;
            color: var(--color-text-title);
            padding-bottom: 0.25rem;
        }

        select {
            width: 100%;
            height: 3rem;
            border-radius: 0.8rem;
            border: 1px solid var(--color-line-in-white);
            background-color: #fff;
            font: 1.6rem Archivo;
            padding: 0 1.5rem;
            background-color: #e6e6f0;
        }

        input {
            width: 100%;
            height: 3rem;
            border-radius: 0.8rem;
            border: 1px solid var(--color-line-in-white);
            background-color: #fff;
            font: 1.6rem Archivo;
            padding: 0 1.5rem;
            background-color: #e6e6f0;
        }
    }

    .proffy-presentation {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 1.5rem;
        font-size: 1.5rem;
    }

    .profile-pic-container {
        margin: 3rem;
        display: flex;
        align-items: center;
    }

    .profile-pic {
        width: 75px;
        height: 75px;
        border-radius: 100%;
    }

    .proffy-bio {
        display: flex;
        margin: 0 3rem;
        font-size: 1.25rem;

        color: var(--color-text-title);
    }

    .proffy-contact {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fafafc;
        padding: 2.5rem;
        border-radius: 0.8rem;
    }

    .proffy-price {
        display: flex;
        font-size: 1.25rem;
        color: var(--color-small-info);

        strong {
            padding: 0 1rem;
            color: var(--color-primary-dark);
        }
    }
    .wpp-button {
        width: 20rem;
        height: 5rem;
        background: var(--color-secondary);
        color: var(--color-title-in-primary);
        border: 0;
        border-radius: 0.8rem;
        cursor: pointer;
        font: 700 1.6rem Archivo;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background 0.2s;
        text-decoration: none;
    }

    .wpp-button :hover {
        background-color: var(--color-secondary-dark);
    }

    .teacher-item {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border: 1px solid var(--color-line-in-white);
        border-radius: 0.8rem;
        margin-top: 2.4rem;
    }

    .no-results {
        max-width: 300rem;
        margin: 12rem auto;
        text-align: center;
    }
}
