.page-header {
    background: var(--color-primary);
    display: flex;
    flex-direction: column;
    border-top: none;
}

.page-header .top-bar-container {
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem 0;
}

.page-header .top-bar-container a {
    height: 3.2rem;
    transition: opacity 0.2s;
}

.page-header .top-bar-container a:hover {
    opacity: 0.6;
}

.page-header .top-bar-container>div>img {
    height: 1.6rem;
    cursor: pointer;
}

.page-header .header-content {
    margin: 3.2rem auto;
    position: relative;
}

.header-content > p {
    width: 100%;
}

.page-header .header-content strong {
    font: 700 3.6rem Archivo;
    line-height: 4.2rem;
    color: var(--color-title-in-primary);
}

.page-header .header-content p {
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: var(--color-text-in-primary);
    margin-top: 2.4rem;
}

.top-right-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20rem;
    color: #fff;
    font-size: 1.5rem;

    .img-container {
        width: 25px;
        height: 25px;

        >img {
            width: 100%;
            height: 100%;
        }
    }
}

.header-profile-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}